* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boards, #setup {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#player-board, #enemy-board, #placement-board, #setup #drag-ships, .ship-container {
    display: flex;
    height: max-content;
    width: max-content;
}

.ship-container p::before, .small p::before {
    content: 'x';
}

.ship.moveable {
    transform: translateX(-1px) translateY(-1px);
    overflow: visible;
}

.drag-over.available {
    background-color: rgb(0 0 0 / 40%);
}

.ship.hide, #setup.hide, #setup .hide {
    display: none;
}

.rotate {
    display: flex;
    width: max-content;
}

.row {
    display: flex;
    flex-direction: column;
}

.cell {
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

.coord {
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-board .ship, #enemy-board .ship.hit, #setup .ship, .ships .ship {
    color: red;
    background-color: rgb(97, 97, 97);
}

.small {
    display: flex;
    align-items: center;
}

.small .cell {
    width: 15px;
    height: 15px;
}


.ships {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ship.sunk .cell {
    background-color: rgb(148, 148, 148);
    border: 1px solid rgb(100, 100, 100);
}

